@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: steelblue;
  color: #fff;
  flex-direction: column;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  background-color: lightblue;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  /* display: inline-block; 按钮默认样式*/
}

.text {
  margin-top: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.form-control {
  width: 300px;
  margin: 10px 0 40px; /* 右边距和左边距是 0 */
  position: relative;
}

.form-control input {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  /* display: block; */
  /* 默认display: inline-block; */
  padding: 15px 0;
}

/* 相对于input定位 */
.form-control label {
  position: absolute; 
  top: 15px;
  left: 0;
  pointer-events: none; /* 元素永远不会成为鼠标事件 */
}

/* 每个字母transition-delay:依次递增 */
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* input被选中或校验时改变label颜色，并向上移动，触发cubic-bezier动画 */
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}