.btn {
  position: relative;
  // display: inline-block; // 按钮本身就是inline-block
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  // white-space: normal; // 初始值本来就是normal
  text-align: center; // 按钮内字体居中
  /* 内容区域高度(content area)+行间距(vertical spacing)=行高(line-height) 行间距均分在内容区域上下
  vertical-align不会继承，所以设置在子元素上，相对于父元素摆放行内元素
  一行中，行内元素文字基于baseline对齐，行框高度如果没有设定基于所有行内盒子顶部到底部，
  middle 使元素的中部与父元素的基线加上父元素 x-height（译注：x 高度）的一半对齐*/
  vertical-align: middle;
  // background-image: none; // 初始值本来就是none
  border: $btn-border-width solid transparent; // transparent 关键字表示完全透明的颜色
  /*font-size: $btn-font-size;
  border-radius: $border-radius;
  padding: $btn-padding-y $btn-padding-x;*/
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;

  &.disabled, // &指向外层元素btn 交集选择器；同时有.btn和.disabled才会被选中 并集选择器(,)
  &[disabled] { // []元素选择器
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * { // 通用选择器（*） 子选择器（E>F） 包含选择器(E F) 接续兄弟选择器（+）后续兄弟选择器（~）
      /* pointer-events 属性允许你控制元素如何响应鼠标事件，例如点击、悬停和滚动。
      none 永远不会成为鼠标事件的target，鼠标事件会直接穿过该元素，并传递给它后面的元素。*/
      pointer-events: none;
    }
  }
}

/*当需要创建可复用的样式块时，使用 @mixin。
当需要共享多个选择器的样式时，使用 @extend。*/
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $border-radius-sm);
}

.btn-primary {
  @include button-style($primary, $primary, $white)
}
.btn-danger {
  @include button-style($danger, $danger, $white)
}

.btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary)
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration; // 下划线
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}