@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; */
  margin: 0;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  /* padding显示#fafafa，content：margin: 50px auto; 如果在content设置padding，会有body设置的黑色背景*/
  padding: 50px; 
  transform-origin: top left; /* 更改一个元素变形的原点 */
  transition: transform 0.5s linear;
}

/* 左上角按钮 */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ff7979;
  position: relative; /* 给botton定位 */
  transition: transform 0.5s linear;
}

.circle button {
  font-size: 26px;
  color: #fff;
  background: transparent;  /* 指定背景颜色是透明的。这是默认;按钮默认background-color: buttonface; */
  border: 0;
  cursor: pointer;
  position: absolute; 
  top: 50%;
  left: 50%; /* button左上角在circle中间 */
  height: 100px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;  /* 基于自身box，不是父元素，默认值中心位置 */
}

/* 旋转 */
.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
  transform: rotate(-70deg); /* .container.show-nav 已经旋转20° */
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%); /* 隐藏 */
  transition: transform 0.4s ease-in 0.3s;
}

.container.show-nav + nav li {
  transform: translateX(0);
  /* transition-delay: 0.3s; */
}

/* 图标 */
nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}


nav ul li + li {
  margin-left: 15px; /* 制造坡度 */
  transform: translateX(-150%); /* 设置了margin-left，需要偏移多点位置 */
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none; /* 去除默认样式 */
  transition: all 0.5s;
}

/* 悬浮样式 */
nav a:hover {
  color: #ff7979;
  font-weight: bold;
}

/* 文本样式 */
.content {
  max-width: 1000px;
  margin: 50px auto; /* 居中 */
}

.content img {
  max-width: 100%; /* content的宽度不包括padding和margin */
}

.content h1 {
  margin: 0; /* 替换默认样式 */
}

.content small {
  color: #555;
  font-style: italic; /* 斜体 */
}

.content p {
  color: #333;
  line-height: 1.5; /* 行间距 */
}

