@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* 定义变量 */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #1f1f1f;
}

.container {
  text-align: center; /* 按钮居中 */
}

.progress-container {
  max-width: 100%;
  width: 350px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

/* 伪元素 */
.progress-container::before {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);   /* 值是百分数，移动距离相对元素自身的尺寸计算 */
  z-index: -1;
}

.progress {
  height: 4px;
  width: 0%;
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #1f1f1f;
  color: #e2e2e2;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease; /* transition-property初始值：all */
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  font-family: inherit; /* 继承，覆盖原本样式 */
  font-size: 14px;
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98); /* scale缩放 */
}

.btn:focus {
  outline: 0; /* border 和 outline 很类似，但outline 不占据空间，绘制于元素内容周围 */
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;  /* cursor有很多值展示不同状态的鼠标箭头 */
}

