@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; 屏幕宽度小于nav宽度时是否出现滚动条*/
  margin: 0;
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
}

/* nav宽度变化 */
nav {
  width: 80px;
  padding: 20px;
  display: flex; /* ul button */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}

nav.active {
  width: 350px;
}

/* ul宽度变化 */
nav ul {
  display: flex; /* li */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

/* li transform opacity */
nav ul li {
  transform: rotateY(0deg); /* 让li有旋转效果 */
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  /* position: relative; */
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

/* icon是白色盒子，没有变化，里面的line从=变成x */
.icon { /* button */
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;  /* 基于icon */
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

/* 被绝对定位的元素可以通过指定top和bottom ，保留height未指定（即auto），来填充可用的垂直空间。
它们同样可以通过指定left 和 right并将width 指定为auto来填充可用的水平空间。

如果 top 和 bottom 都被指定（严格来说，这里指定的值不能为 auto ），top 优先。
如果指定了 left 和 right ，当 direction设置为 ltr（水平书写的中文、英语）时 left 优先，
当direction设置为 rtl（阿拉伯语、希伯来语、波斯语由右向左书写）时 right 优先。 */
.icon .line2 {
  /* 覆盖上面top: 10px */
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}