@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url(../assets/img/photo-1549880338-65ddcdfd017b.avif) no-repeat center center/cover;
  position: absolute;
  /* width:100vw left: -30px 左侧会有30px空白 */
  /* filter: blur(0px) 周围会有白边，下面四个属性取消白边 */
  top: -30px;
  left: -30px; 
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  /* 将模糊或颜色偏移等图形效果应用于元素，blur() 函数将高斯模糊应用于输入图像 */
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}